/* ------------------------------------------------------------------ */
/* h. Contact Section
/* ------------------------------------------------------------------ */

#contact {
   background: #191919;
   padding-top: 10px;
   padding-bottom: 102px;
   color: #636363;
   background: #efefef;
   width: 100%;
   padding: 30px 40px;
  border: 1px solid black;
  box-shadow: rgba(0, 0, 0, 0.15) 2px 5px 5px 5px;
  border-radius: 20px;
  color: hsl(206, 17%, 28%);
  font-size: 18px;
  width: 50em;
  font-weight: 500;
   font-family: 'Raleway', sans-serif;
   margin-top: 60px;
   height: 90%;
   margin-left: auto;
   margin-right: auto;

 }
 #contact .section-head { margin-bottom: 42px; }
 
 #contact a, #contact a:visited  { color: #11ABB0; }
 #contact a:hover, #contact a:focus { color: red; }
 
 #contact h1 {
    font: 18px/24px 'opensans-bold', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: black;
    margin-bottom: 6px;
 }
 #contact h1 span { display: none; }
 #contact h1:before {
    font-family: 'FontAwesome';
    content: "\f0e0";
     padding-right: 10px;
     font-size: 72px;
    line-height: 72px;
    text-align: left;
    float: left;
    color: black;
 }
 
 #contact h4 {
    font: 16px/24px 'opensans-bold', sans-serif;
    color: black;
    margin-bottom: 6px;
 }
 #contact p.lead {
    font: 16px 'opensans-light', sans-serif;
    color: black;
    width: 100%;
 }
 
 
 /* contact form */
 #contact form { margin-bottom: 20px; }
 #contact label {
    font: 15px/24px 'opensans-bold', sans-serif;
    margin: 12px 0;
    color: black;
     display: inline-block;
     float: left;
    width: 26%;
 }
 #contact input,
 #contact textarea,
 #contact select {
    padding: 18px 10px;
     color: #eee;
     background: #373233;
     margin-bottom: 20px;
     border: 0;
     outline: none;
    font-size: 15px;
      line-height: 24px;
    width: 65%;
 }
 #contact input:focus,
 #contact textarea:focus,
 #contact select:focus {
     color: black;
     background-color: #11ABB0;
 }
 #contact button.submit {
     text-transform: uppercase;
     letter-spacing: 3px;
     color: black;
    background: #0D0D0D;
     border: none;
    cursor: pointer;
    height: auto;
    display: inline-block;
     border-radius: 3px;
    
    margin-left: auto;
    margin-right: auto;
 }
 #contact button.submit:hover {
     color: #0D0D0D;
     background: black;
 }
 #contact span.required {
     color: #11ABB0;
     font-size: 13px;
 }
 #message-warning, #message-success {
    display: none;
     background: #0F0F0F;
     padding: 24px 15px;
     margin-bottom: 10px;
    width: 65%;
    margin-left: 26%;
 }
 #submit {
   background-color:  #096482;
   border-radius: 20px;
   border: 1px solid black;
   font-size: 12px;
   margin-left: 10px;
   color: white;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   @media screen and (min-width: 576px) {
     margin-top: 20px;
   }
 }